Lenguaje de marca/trabajo_xml/Ej_Externa.dtd

<!ENTITY % t "(#PCDATA)" >
<!ELEMENT matricula (personal, pago)+ >
<!ELEMENT personal (dni, nombre, titulacion, curso_academico, domicilios) >
<!ELEMENT pago (tipo_matricula) >
<!ELEMENT domicilios (domicilio)+ >
<!ELEMENT dni %t; >
<!ELEMENT nombre %t; >
<!ELEMENT titulacion %t; >
<!ELEMENT curso_academico %t; >
<!ELEMENT tipo_matricula %t; >
<!ELEMENT domicilio (nombre) >
    <!ATTLIST domicilio tipo (familiar | habitual) #REQUIRED >