Lenguaje de marca/trabajo_xml/Ejercicio1.xml


<!ELEMENT biblioteca (libros)*>
<!ELEMENT libros (titulo, autor,fotoportada,editorial,edicion,ISBN)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT fotoportada (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT edicion (#PCDATA)>
<!ELEMENT ISBN (#PCDATA)>

<!-- Se quiere crear una biblioteca de libros en un documento XML. Para ello se necesita
además crear un documento DTD que permita almacenar la siguiente información:
 Código interno del libro.
 Título
 Autor o autores.
 Foto de portada
 Editorial
 Edición
 ISBN
 Donación (este dato sólo aparecerá en la ficha del libro si ha sido incorporado
por una donación, no por compra).
 Ubicación (la biblioteca cuenta con tres sedes actualmente: centro, norte y sur)
El documento XML debe tener al menos dos libros con toda la información.
El documento DTD debe incluir obligatoriamente definiciones de elementos
(ELEMENT), atributos (ATTLIST) y si fuera necesario de identidades (ENTITY) y
notaciones (NOTATION) -->