Lenguaje de marca/Actividades_DTD_XML/Ejercicios/Ejercicio3DTD.dtd

<!ELEMENT formas (cuadrado, triangulo, circulo, otra)>
   <!ELEMENT cuadrado (#PCDATA)>
      <!ATTLIST cuadrado lados CDATA #REQUIRED>
   <!ELEMENT triangulo (#PCDATA)>
      <!ATTLIST triangulo lados CDATA #REQUIRED>
   <!ELEMENT circulo (#PCDATA)>
   <!ELEMENT otra EMPTY>
      <!ATTLIST otra lados CDATA #REQUIRED>